* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body{

    width: 100%;
}
/* Sekcja obsugi trybu ciemnego - TODO wszystko co dotyczy trybu ciemnego w jednym miejscu */
body.dark-mode{
    background-color: #182018;
}



body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #D9E2EF;
}

/* Sekcja obsugi dla os贸b niepenosprawnych */
.fontSize{
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    z-index: 1000;
}

.fontSize button{
    padding: 10px;
    font-size: 10px;
    background-color: #008046;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

h1{
    text-align: center;
}

.timetable table{
    text-align: center;
}

.filterMenu{

    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}
/* Stylizacja planu */
.timetable {
    flex-grow: 1;
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background-color: #F5F7FB;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#compare{
    background-color: #2F3882;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
/* guzik por贸wa powinien by wyczony je偶eli w wyszukiwanaich nic sie nie zmienio,
bo po co por贸wnywa to samo
 */
#compare:disabled{
    background-color: #ccc;
    cursor: not-allowed;
}
/* Sylizacja guzika wyboru zakresu czasu planu */
.timeInterval {
    padding: 10px 20px;
    background-color: #008046;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px 0;
}

ul li {
    margin: 0 10px;
}

ul li a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    text-align: center;
}

ul li a:hover {
    background-color: #575757;
}

#daily, #weekly, #monthly {
    display: none;
    padding: 20px;

    border-radius: 5px;
    margin-top: 20px;
}
.hidden {
    display: none;
}
/* Stylizacja guzika - 偶e listy rozwijanej po klikniciu */
#timeMenu {
    text-align: left;
    padding: 10px;
    list-style: none;
    background-color: white;

    border-radius: 30px;
    margin-top: 10px;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);*/
}

#timeMenu li a {
    color: black;
    padding: 10px;
    display: block;
    text-decoration: none;
    border-radius: 3px;
}

#timeMenu li a:hover {
    background-color: #f0f0f0;
}

#timeMenu.active {
    display: block;
}

/* Wywietlanie aktywnej sekcji */
#daily.active, #weekly.active, #monthly.active {
    display: block;
}

/* Stylizacja menu filtr贸w */
.filterMenu {


    width: 100%;
    max-width: 100%;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;

    border-radius: 30px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/

    margin-bottom: 30px;
    z-index: 1000; /*Triczek zeby pole filtr贸w nam nie znikaao */

}

.filterMenu form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.filterMenu input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filterMenu input:focus {
    outline: none;
    border-color: #4CAF50;
}

.filterMenu button {
    padding: 10px 20px;
    background-color: #008046;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 15px;
}

.filterMenu button:hover {
    background-color: #45a049;
}

/* Stylizacja dla kontenera, aby menu byo zawsze na dole */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.filterMenu {
    margin-top: auto; /* Umieszczamy menu na dole */

}

/* STYLIZACJA PLANU */
/* Mo偶na du偶o tutaj skr贸ci ogarnie sie potem*/
/* weekly css */
#weekly .schedule-timetable {

    position: relative;
    display: grid;
    grid-template-columns: 100px repeat(7, 1fr);
    gap: 1px;
    background-color: #ccc;
    border-radius: 45px;
}
#weekly .schedule-timetable > div {
    background-color: #fff;
    padding: 10px;
    text-align: center;

}
#weekly .schedule-timetable .time {
    font-size: 11px;
    font-weight: 500;
    position: relative;

}
#weekly .schedule-timetable .day {
    background-color: #F8F9FF;
    font-weight: 400;
    color: #5F7C9F;
}
#weekly .schedule-timetable span{
    font-weight: bold;
    font-size: 20px;
}
#weekly .event {
    position: absolute;
    background-color: #a3d2ca;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    padding: 5px;
    box-sizing: border-box;
}
#weekly .event.event-purple {
    background-color: #b39ddb;
}
#weekly .event.event-green {
    background-color: #80cbc4;
}
#weekly .event.event-blue {
    background-color: #81d4fa;
}

/* daily css */
#daily .schedule-timetable {
    margin: auto;
    width: 33%;
    height: 700px;
    position: relative;
    display: grid;
    grid-template-columns: 100px 1fr ;
    gap: 1px;
    background-color: #ccc;
    border-radius: 45px;
}
#daily .schedule-timetable > div {
    background-color: #fff;
    padding: 10px;
    text-align: center;

}
#daily .schedule-timetable .time {
    font-size: 11px;
    font-weight: 500;
    position: relative;

}
#daily .schedule-timetable .day {
    background-color: #F8F9FF;
    font-weight: 400;
    color: #5F7C9F;
}
#daily .schedule-timetable span{
    font-weight: bold;
    font-size: 20px;
}
#daily .event {
    position: absolute;
    background-color: #a3d2ca;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    padding: 5px;
    box-sizing: border-box;
}
#daily .event.event-purple {
    background-color: #b39ddb;
}
#daily .event.event-green {
    background-color: #80cbc4;
}
#daily .event.event-blue {
    background-color: #81d4fa;
}
